<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="/css/bootstrap.css" rel="stylesheet">
<link href="/css/abs_header.css" rel="stylesheet">
<script src=""></script>
</head>
<title>local:3000/rank</title>
<body>
  <div class="abs-header">
    <header>
      <a href="/" class="header-navs__logo">
        <img src="https://d2aj9sy12tbpym.cloudfront.net/javascripts/dist/assets/header_logo-a02452e14625b5af8dbcb37a3cc3ffbb.svg">
      </a>
      <ul class="header-nav">
        <li >
          <a href="/course" class="header-nav-list">コース一覧</a>
        </li>
        <li >
          <a href="/slide" class="header-nav-list">スライド検索</a>
        </li>
        <li >
          <a href="/rank" class="header-nav-list">ランキング</a>
        </li>
        <li>
          <a href="/help" class="header-nav-list">ヘルプ</a>
        </li>
        <li style="padding-left: 50px;">
          user1()<span style="font-size:10px">▼</span>
        </li>
      </ul>
    </header>
  </div>
</body>
</html>
