<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="/css/style.css" rel="stylesheet">
<link href="/js/tfheader.js" type="text/javascript">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js">
<script src="/js/rank.js" rel="text/javasctipt"></script>
</script>
<style>
</style>
</head>
<body>
  <div class="all-contnet">
    <div class="abs-header">
      <header>
        <a href="/" class="header-navs__logo">
          <img src="https://d2aj9sy12tbpym.cloudfront.net/javascripts/dist/assets/header_logo-a02452e14625b5af8dbcb37a3cc3ffbb.svg">
        </a>
        <ul class="header-nav">
          <li >
            <a href="/course" class="header-nav-list">コース一覧</a>
          </li>
          <li >
            <a href="/slide" class="header-nav-list">スライド検索</a>
          </li>
          <li >
            <a href="/rank" class="header-nav-list">ランキング</a>
          </li>
          <li>
            <a href="/help" class="header-nav-list">ヘルプ</a>
          </li>
          <li style="padding-left: 50px;">
            user1()<span style="font-size:10px">▼</span>
          </li>
        </ul>
      </header>
    </div>
    <div class="content">
      <div class="language-header">
          <img class="language-title-image" src="https://d2aj9sy12tbpym.cloudfront.net/javascripts/dist/assets/path_icon-1edbb8798c7c47abcf29ad3d545d3ae1.svg">
          <span class="language-title">パス</span>
            <p class="text-contents">
              創れる人になるための必要なレッスン<br>
              が最適な順番で学べる道のりです
            </p>
      </div>
      <section class="passarea-top">
        <div class="language-header-card front" href="https://prog-8.com/paths/node">
          <div class="language-header-left">
            <h1>Web開発パス(Node.js)</h1>
            <h3>このパスではWeb開発に必要な知識を学ぶことができます。<br>
              Node.jsを使ってWebアプリの仕組みを理解し、<br>
              実際に作れるようになりましょう。</h3>
            <div class="language-header-list">
              <ul>
                <li>
                  全4コース
                </li>
                <li>
                  HTML & CSS
                </li>
                <li>
                  javaScript
                </li>
                <li>
                  SQL
                </li>
                <li>
                  Node.js
                </li>
              </ul>
            </div>
          </div>
          <img class="language-header-image none-plus" src="https://www.pakutaso.com/shared/img/thumb/MBPR_9V9A8309_TP_V.jpg" width="36%" height="400px" style="float: right;margin:50px 55px;">
          </div>
      </section>
      <section class="passarea-top-under front">
        <div class="language-header-card-ruby" href="https://prog-8.com/paths/node">
          <div class="language-header-left-ruby">
            <img class="header-image-ruby none" src="https://www.pakutaso.com/shared/img/thumb/ipadpro2018-2-11_TP_V.jpg">
            <h1>Web開発パス(Ruby on Rails)</h1>
            <p>
              全3コース
            </p>
          </div>
        </div>
      </section>
      <div class="course" style="margin-left:40px;">
        <img src="https://d2aj9sy12tbpym.cloudfront.net/javascripts/dist/assets/path_icon-1edbb8798c7c47abcf29ad3d545d3ae1.svg">
        <span class="language-title">コース</span>
      </div>
      <section class="stady-area">
        <div class="language-header-card-program front">
          <h2>HTML & CSS</h2>
          <img class="image-course" src="https://d2aj9sy12tbpym.cloudfront.net/assets/languages/language_list/html-d55f9f9c51ce7c499c71c8c50d012164782602def8da6e623d50bc523e71fe3d.svg" />
          <br>
          <span class="card-program-ms" style="color: #2b546a;">
            Webページの 見た目を作る記事
          </span>
          <h4>
            全7レッスン + 3記事
          </h4>
        </div>
        <div class="language-header-card-program front">
          <h2>JavaScript</h2>
          <img class="image-course" src="https://d2aj9sy12tbpym.cloudfront.net/assets/languages/language_list/es6-f27d15ffcd93edaaf6ade3c76c857d6890ade85e91fee07fb5a39458b2195c9c.svg" />
          <br>
          <span class="card-program-ms" style="color: #2b546a;">
            多様な可能性を秘めた フロントエンド言語
          </span>
          <h4>
            全7レッスン + 2記事
          </h4>
        </div>
        <div class="language-header-card-program front">
          <h2>jQuery</h2>
          <img class="image-course" src="https://d2aj9sy12tbpym.cloudfront.net/assets/languages/language_list/jquery-a96de286d2c3b000bea702b018044b401b58cbbda3b4481af57f5bec5464ccf2.svg" />
          <br>
          <span class="card-program-ms" style="color: #2b546a;">
            効果やアニメーションを実装できる JavaScriptライブラリ
          </span>
          <h4>
            全4レッスン
          </h4>
        </div>
        <div class="language-header-card-program front">
          <h2>Ruby</h2>
          <img class="image-course" src="https://d2aj9sy12tbpym.cloudfront.net/assets/languages/language_list/ruby-67da22c74d14d226cbb854339c9d0d797440abb257eec16e51a00d9abba75d97.svg" />
          <br>
          <span class="card-program-ms" style="color: #2b546a;">
            直感的に理解しやすく、高い生産性を誇る<br>
            サーバーサイド言語
          </span>
          <h4>
            全5レッスン + 1記事
          </h4>
        </div>
        <div class="language-header-card-program front">
          <h2>Ruby on Rails5</h2>
          <img class="image-course" src="https://d2aj9sy12tbpym.cloudfront.net/assets/languages/language_list/rails5-4c29f34d5969ec160c55aaf195479a5d8caaec9f0c7af3b13775f633980d76f3.svg" />
          <br>
          <span class="card-program-ms" style="color: #2b546a;">
            Webサービス開発に必須のRubyフレームワーク
          </span>
          <h4>
            全15レッスン + 1記事
          </h4>
        </div>
        <div class="language-header-card-program front">
          <h2>PHP</h2>
          <img class="image-course" src="https://d2aj9sy12tbpym.cloudfront.net/assets/languages/language_list/php-4efa925c22077e637fb1c4e62af8b1acc5671c8ec70db932b77b35531c5f0772.svg" />
          <br>
          <span class="card-program-ms" style="color: #2b546a;">
            Web開発に適した サーバーサイド言語
          </span>
          <h4>
            全5レッスン
          </h4>
        </div>
        <div class="language-header-card-program front">
          <h2>Java</h2>
          <img class="image-course" src="https://d2aj9sy12tbpym.cloudfront.net/assets/languages/language_list/java-f8af3f7d7b90c6e74601328c9d717348fad01135d50c9ae06a547cd32a23f0f7.svg" />
          <br>
          <span class="card-program-ms" style="color: #2b546a;">
            大規模開発からモバイルアプリまで、<br />
            汎用的なプログラミング言語
          </span>
          <h4>
            全7レッスン
          </h4>
        </div>
        <div class="language-header-card-program front">
          <h2>Python</h2>
          <img class="image-course" src="https://d2aj9sy12tbpym.cloudfront.net/assets/languages/language_list/python-baf258896a111d1b23043008e2ac835a63ea3f0349b0afaaf40b006c7414f8f0.svg" />
          <br>
          <span class="card-program-ms" style="color: #2b546a;">
            可読性が高く、科学演算や機械学習などにも用いられる<br />
            サーバーサイド言語
          </span>
          <h4>
            全5レッスン + 1記事
          </h4>
        </div>
        <div class="language-header-card-program front">
          <h2>Command Line</h2>
          <img class="image-course" src="https://d2aj9sy12tbpym.cloudfront.net/assets/languages/language_list/commandline-a75be113866b46af2aa57f64a185992ec4a70d0b4591d22bfbb297bb9f49da00.svg" />
          <br>
          <span class="card-program-ms" style="color: #2b546a;">
            コマンドを用いてコンピュータを操作する開発現場では必須のスキル
          </span>
          <h4>
            全5レッスン + 1記事
          </h4>
        </div>
        <div class="language-header-card-program front">
          <h2>Git</h2>
          <img class="image-course" src="https://d2aj9sy12tbpym.cloudfront.net/assets/languages/language_list/git-129fee5eb0f17652945edd80bdcfefab77542705d1465e7f4083d3e80a2ee9ae.svg" />
          <br>
          <span class="card-program-ms" style="color: #2b546a;">
            ソースコードのバージョン管理や共同開発を可能にするツール
          </span>
          <h4>
            全1レッスン + 1記事
          </h4>
        </div>
        <div class="language-header-card-program front">
          <h2>SQL</h2>
          <img class="image-course" src="https://d2aj9sy12tbpym.cloudfront.net/assets/languages/language_list/sql-8161d8089f9e5dfd60d1503a5f898dc573c03b60fe83ad7acfb605d1078475d7.svg" />
          <br>
          <span class="card-program-ms" style="color: #2b546a;">
            データの操作や分析にも使える データベース言語
          </span>
          <h4>
            全5レッスン + 1記事
          </h4>
        </div>
        <div class="language-header-card-program front">
          <h2>Sass</h2>
          <img class="image-course" src="https://d2aj9sy12tbpym.cloudfront.net/assets/languages/language_list/sass-1cf9cd102a27fe0dd13ce596810dc2a0c57a4ca875ea15d7e2c6b66963332f91.svg" />
          <br>
          <span class="card-program-ms" style="color: #2b546a;">
            CSSをより便利に効果的に操作する言語
          </span>
          <h4>
            全1レッスン
          </h4>
        </div>
        <div class="language-header-card-program front">
          <h2>Go</h2>
          <img class="image-course" src="https://d2aj9sy12tbpym.cloudfront.net/assets/languages/language_list/go-fe007151659656a137b840b1c0e02428c3fb58b09b8724854d93467ed221946d.svg" />
          <br>
          <span class="card-program-ms" style="color: #2b546a;">
            Googleが開発した 人気上昇中のサーバーサイド言語
          </span>
          <h4>
            全4レッスン
          </h4>
        </div>
        <div class="language-header-card-program front">
          <h2>React</h2>
          <img class="image-course" src="https://d2aj9sy12tbpym.cloudfront.net/assets/languages/language_list/react-f6bedc6780093fd50ce0ba62fc5ba17e165a4fc3e32c97380dcb43703fbac623.svg" />
          <br>
          <span class="card-program-ms" style="color: #2b546a;">
            世界的に人気上昇中の サイトの見た目を作るJavaScriptライブラリ
          </span>
          <h4>
            全4レッスン
          </h4>
        </div>
        <div class="language-header-card-program front">
          <h2>Node.js</h2>
          <img class="image-course" src="https://d2aj9sy12tbpym.cloudfront.net/assets/languages/language_list/nodejs-09daf8af1cfc5ca33f450678cb7d952f1c52d9633159d4979ba3c14ffa3cfd48.svg" />
          <br>
          <span class="card-program-ms" style="color: #2b546a;">
            世界中の多く使われているサーバーサイドで動く JavaScript
          </span>
          <h4>
            全3レッスン + 3記事
          </h4>
        </div>
      </section>
      <section class="footer-sub">
        <h2>
          各レッスンの公開状況などの詳しい情報はこちらから確認してください。
        </h2>
      </section>
      <section class="footer">
        <div class="footer">
          <div class="footer-logo">

          </div>
        </div>
      </section>
      </div>
    </div>
  </div>
</body>
<footer>
</footer>
</html>
